@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Playwrite CU", cursive;
	padding: 0 0;
	margin: 0 0;
}
