body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(to top, #ffffff, #009c8f);
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
